<div class="todo-wrapper">
   <h2>Vous avez <span class="emphasis">{{getTotalTodos()}}</span> produits</h2>
   <ul>
      <li ng-repeat="todo in todos">
         <input type="checkbox" ng-model="todo.done"/>
         <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
   </ul>
   <form>
      <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
      <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
   </form>

   <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
</div>